Django==5.1.2
djangorestframework==3.15.2
psycopg[binary]
gunicorn==21.2.0
confluent-kafka
whitenoise==6.6.0
pillow==10.4.0
requests
djangorestframework-simplejwt
PyJWT
py_eureka_client
minio
django-storages
boto3
dotenv
python-decouple
django-cors-headers
drf-spectacular
